<div class="row no-gutters mt-2">
  <div class="col-3">
    <div class="card">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img class="card-img mt-3 ml-2" src="http://localhost:3000/images/tiny-epic-quest-1583984621919.jpg">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Username</h5>
            <p class="card-text">Edit Account</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-9 pl-2">
    <h5 class="text-center">Your Games</h5>
    <table class="table table-striped border rounded">
        <thead>
            <tr>
                <th scope="col">Host</th>
                <th scope="col">Location</th>
                <th scope="col">Date/Time</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th><a routerLink="/profile/">Username</a></th>
                <td>123 Address</td>
                <td>1/1/2020 @ 11:00pm</td>
                <td><button class="btn btn-sm btn-primary">View Details</button></td>
            </tr>
        </tbody>
    </table>
  </div>
</div>
