<!-- src/app/pages/home/home.component.html -->
<div class="form-row">
    <div class="col-12">
      <label for="search" class="sr-only">Enter a game title to search</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">Search</div>
        </div>
        <input
          type="text"
          class="form-control"
          id="search"
          [(ngModel)]="query"
          placeholder="Enter a game title to search."
          name="query"
          (keyup)="searchGames()">
          <span class="input-group-append">
            <button
              class="btn btn-danger"
              (click)="resetQuery()"
              [disabled]="!query">&times;</button>
          </span>
        </div>
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="list-group col-12 mr-0 pr-0" style="overflow:auto; height: 1000px">
      <div class="list-group-item" *ngFor="let game of filteredList">
        <a routerLink="/game/{{game._id}}">{{game.title}}</a></div>
    </div>
  </div>
</div>

