<div class="spinner-grow" *ngIf="isLoading">
  <span class="sr-only">Loading...</span>
</div>
<div class="row no-gutters mt-2" *ngIf="!isLoading">
  <div class="col-3">
    <div class="card">
      <img class="card-img-top" [src]="user.imagePath">
      <div class="card-body">
        <h5 class="card-title text-center">{{ user.username }}</h5>
      </div>
    </div>
  </div>
  <div class="col-9 pl-2">
    <h5 class="text-center">{{ user.username }}'s Games</h5>
    <table class="table table-striped border rounded">
      <thead>
        <tr>
          <th scope="col">Host</th>
          <th scope="col">Location</th>
          <th scope="col">Date/Time</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let gameEvent of user.events">
          <th><a routerLink="/user/{{ gameEvent._id }}">{{gameEvent.hostUsername}}</a></th>
          <td>{{gameEvent.streetAddress}}</td>
          <td>{{gameEvent.date | date:'longDate'}} at {{ gameEvent.date | date:'shortTime'}}</td>
          <td><a routerLink="/event/{{gameEvent._id}}"><button class="btn btn-sm btn-primary">View Details</button></a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
