<div class="spinnger-grow" *ngIf="isLoading">
  <span class="sr-only">Loading...</span>
</div>
<div class="card-group" *ngIf="!isLoading">
  <div class="card">
    <div class="card-header"><h4>Attending</h4></div>
    <ul class="list-group list-group-flush" style="overflow:auto; height: 540px">
      <li class="list-group-item" *ngFor="let attendee of event.attendees">{{attendee.username}}</li>
    </ul>
  </div>
  <div class="card">
    <img [src]="event.gameId.imagePath" [alt]="event.gameId.title" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">{{ event.gameId.title }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">Hosted By: {{ event.hostUsername}}</h6>
      <p class="card-text">{{ event.eventDetails }}</p>
      <button *ngIf="!isAttending" class="btn btn-secondary" (click)="onJoin()">Join Event</button>
      <button *ngIf="isAttending" class="btn btn-danger" (click)="onLeave()">Leave Event</button>
    </div>
    <div class="card-footer text-muted">
      {{ parsedDate }}
    </div>
  </div>
  <div class="card">
    <img class="img-fluid rounded" src="http://maps.googleapis.com/maps/api/staticmap?center={{event.coords.coordinates[1]}},{{event.coords.coordinates[0]}}&amp;zoom=16&amp;size=400x650&amp;sensor=false&amp;markers={{event.coords.coordinates[1]}},{{event.coords.coordinates[0]}}&amp;scale=2&amp;key={{ apiKey }}">
  </div>
</div>
