<div class="spinnger-grow" *ngIf="isLoading">
  <span class="sr-only">Loading...</span>
</div>
<div class="card-group" *ngIf="!isLoading">
  <div class="card">
    <div class="card-header"><h4>Attending</h4></div>
    <ul class="list-group list-group-flush" style="overflow:auto; height: 540px">
      <li class="list-group-item"><a routerLink='/user/{{event.hostId._id}}'>{{ event.hostUsername }} (Host)</a></li>
      <li class="list-group-item" *ngFor="let attendee of event.attendees"><a routerLink='/user/{{attendee._id}}'>{{attendee.username}}</a>
        <fa-icon
          *ngIf="isHost"
          pull="right"
          [icon]="faMinusSquare"
          size="lg"
          style="color:#dc3545; cursor: pointer;"
          (click)="onRemoveUser(attendee._id)"
          >
        </fa-icon>
      </li>
    </ul>
  </div>
  <div class="card">
    <img [src]="event.gameId.imagePath" [alt]="event.gameId.title" class="card-img-top">
    <div class="card-body">
      <div class="row">
        <div class="col-3">
          <app-date-icon [date]="event.date"></app-date-icon>
        </div>
      <div class="col-9">
          <h5 class="card-title">{{ event.gameId.title }}</h5>
          <h6 class="card-subtitle text-muted mt-3">Hosted By: {{ event.hostUsername}}</h6>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <p class="card-text">{{ event.eventDetails }}</p>
          <div *ngIf="isHost" class="btn-toolbar">
            <a [routerLink]="['edit']" class="btn btn-info mr-2">Edit Event</a>
            <button  class="btn btn-danger" (click)="onDelete()">Delete Event</button>
          </div>
          <button *ngIf="!isHost && !isAttending" class="btn btn-secondary" (click)="onJoin()">Join Event</button>
          <button *ngIf="!isHost && isAttending" class="btn btn-danger" (click)="onLeave()">Leave Event</button>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted">
      {{ parsedDate }}
    </div>
  </div>
  <div class="card">
    <a target="_blank" href="https://www.google.com/maps/dir/?api=1&destination={{event.streetAddress}}+{{event.city}}+{{event.state}}+{{event.zipCode}}">
      <img class="img-fluid rounded" src="http://maps.googleapis.com/maps/api/staticmap?center={{event.coords.coordinates[1]}},{{event.coords.coordinates[0]}}&amp;zoom=16&amp;size=400x650&amp;sensor=false&amp;markers={{event.coords.coordinates[1]}},{{event.coords.coordinates[0]}}&amp;scale=2&amp;key={{ apiKey }}">
    </a>
  </div>
</div>
