<div class="spinner-grow" *ngIf="isLoading">
  <span class="sr-only">Loading...</span>
</div>
<div class="card mb-2 p-2" *ngIf="!isLoading">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img class="card-img" [src]="game.imagePath">
    </div>
    <div class="col-md-8">
      <div class="card-body d-flex flex-column">
        <h3 class="card-title">{{game.title}}</h3>
        <app-read-more [content]="game.description"></app-read-more>
        <a class="btn btn-sm btn-success mt-3" routerLink="/game/{{game._id}}/new">Create Event</a>
      </div>
    </div>
  </div>
</div>
<div class="row no-gutters border rounded" *ngIf="!isLoading">
  <table class="table table-striped">
      <thead>
          <tr>
              <th scope="col">User</th>
              <th scope="col">Location</th>
              <th scope="col">Date/Time</th>
              <th scope="col">Extra Info</th>
              <th scope="col">Register</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let gameEvent of game.currentEvents" routerLink="/event/{{gameEvent._id}}" style="cursor: pointer">
              <th><a routerLink="/profile/{{gameEvent.hostId}}">{{gameEvent.hostUsername}}</a></th>
              <td>{{gameEvent.streetAddress}}</td>
              <td>{{gameEvent.date | date:'longDate'}} at {{ gameEvent.date | date:'shortTime'}}</td>
              <td>{{gameEvent.eventDetails}}</td>
              <td> <a routerLink="/event/{{gameEvent._id}}"><button class="btn btn-sm btn-primary">View Details</button></a></td>
          </tr>
      </tbody>
  </table>
</div>

